
#pragma once

#include "opcode/ppc.h"

#include "aipg/aipg.hpp"

namespace aipg {
// ForwardIt satisfies LegacyForwardIterator https://en.cppreference.com/w/cpp/named_req/ForwardIterator
template< class ForwardIt >
bool match{{ idiom_name }}(ForwardIt first, ForwardIt last, ppc_cpu_t dialect, Context& parseCtx);
}

// template definition
#include "{{ idiom_name }}.cpp"