bool isOperand{{ operand.idx }}MatchingL{{ lineNo }}{{ idiom_name }}(const struct powerpc_operand* operand, uint64_t insn, ppc_cpu_t dialect, Context& parseCtx) {
  int64_t operand_val = operand_value_powerpc(operand, insn, dialect);

  return operand_val == {{ operand.fpr }};
}