bool isInsnMatchingL{{ lineNo }}(const struct powerpc_opcode* opcode, uint64_t insn, ppc_cpu_t dialect, Context& parseCtx) {
  bool isMatching = isMnemonicMatching(opcode, insn, dialect);

  Context tmpCtx = parseCtx;
## for operand in operands
  isMatching = isMatching && isOperand{{ operand.idx }}MatchingL{{ lineNo }}(powerpc_operands + {{ operand.idx }}, insn, dialect, tmpCtx);
## endfor
  if (isMatching) parseCtx = tmpCtx;
  return isMatching;
}