static bool isMnemonicMatching{{ idiom_name }}(const struct powerpc_opcode* opcode, uint64_t insn, ppc_cpu_t dialect) {
  return !(((insn & opcode->mask) != opcode->opcode
          || ((dialect & PPC_OPCODE_ANY) == 0 && ((opcode->flags & dialect) == 0
          || (opcode->deprecated & dialect) != 0))
          || (opcode->deprecated & dialect & PPC_OPCODE_RAW) != 0));
}