
#include "opcode/ppc.h"
#include "ppcdisasm/ppc-dis.h"

#include "aipg/aipg.hpp"

namespace aipg {

## for definition in definitions
{{ definition }}
## endfor

bool match{{ idiom_name }}(uint32_t* buffer, uint32_t maxInsCount, ppc_cpu_t dialect, Context& parseCtx) {
  uint32_t insIdx = 0;
  struct ppc_opcode* opcode;

## for ins in ins_data
  if (insIdx >= maxInsCount) return false;
  opcode = powerpc_opcodes + {{ ins.opindex }}
  {{ ins.parseCheck }}
## endfor

  return true;
}
}